---
import BaseLayout from "@layouts/BaseLayout.astro";
import Navbar from "@components/NavBar.astro";
import NavFooter from "@components/NavFooter.astro";
import type { PageFrontmatter } from "@components/SEO.astro";

type Props = PageFrontmatter;

const { title, description, image, canonical, noindex } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} canonical={canonical} noindex={noindex}>
  <slot name="head" slot="head" />
  <header>
    <Navbar />
  </header>
  <main>
    <slot />
  </main>
  <NavFooter />
</BaseLayout>
